OPENAI_API_KEY=INSERT_YOUR_OPENAI_API_KEY_HERE
SENTRY_DSN=INSERT_YOUR_SENTRY_DSN_HERE
ENVIRONMENT=production
API_KEY=INSERT_YOUR_API_KEY_HERE
CDK_DEFAULT_ACCOUNT=INSERT_YOUR_CDK_DEFAULT_ACCOUNT_HERE
CDK_DEFAULT_REGION=INSERT_YOUR_CDK_DEFAULT_REGION_HERE
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=INSERT_YOUR_LANGSMITH_API_KEY_HERE
LANGSMITH_PROJECT=INSERT_YOUR_LANGSMITH_PROJECT_HERE
